<?xml version="1.0" encoding="UTF-8" ?>
<root>
  <Window>
    <title>My application</title>
    <width>800</width>
    <height>600</height>
    <sizable>false</sizable>
  </Window>
  <Scene>
    <background>(0.8, 0.9, 1.0)</background>
  </Scene>
  <Array>
    <values>11</values>
    <values>22</values>
    <values>33</values>
    <values>44</values>
    <values>55</values>
  </Array>
  <Items>
    <label>Forest</label>
    <pos>
      <x>100</x>
      <y>100</y>
    </pos>
  </Items>
  <Items>
    <label>Ocean</label>
    <pos>
      <x>300</x>
      <y>200</y>
    </pos>
  </Items>
  <Items>
    <label>Mountain</label>
    <pos>
      <x>500</x>
      <y>100</y>
    </pos>
  </Items>
</root>
