//////////////////////////////////////////////////////
# define DefineResource(identifier,type,path) identifier type #path
# define Resource(path) DefineResource(path, FILE, path)

//////////////////////////////////////////////////////
//
// Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)
Resource(engine/shader/sprite.vs)
Resource(engine/shader/shape.ps)
Resource(engine/shader/texture.ps)
Resource(engine/shader/square_dot.ps)
Resource(engine/shader/round_dot.ps)
Resource(engine/shader/sdf.ps)
Resource(engine/shader/fullscreen_triangle_resolve.vs)
Resource(engine/shader/fullscreen_triangle_draw.vs)
Resource(engine/shader/fullscreen_triangle_resolve.ps)
Resource(engine/shader/fullscreen_triangle_draw.ps)
Resource(engine/shader/copy.ps)
Resource(engine/shader/gaussian_blur_9.ps)
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/emoji/noto7_dictionary.dat)

//////////////////////////////////////////////////////
//
// Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto/NotoEmoji-Regular.ttf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/objdetect/haarcascade/eye.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/eye_eyeglasses.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/face_anime.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_catface.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_face_alt2.xml.zstdcmp)
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
// Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////



/* 
	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
